.wiki-info-box {
  background-color: #f4f4f4;
  border: 1px solid #aaa;
  padding: 5px;
  margin: 5px;
  flex: 0 0 270px;
}

.wiki-info-box .title {
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.wiki-info-box .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.wiki-info-box img {
  width: 250px;
}

.wiki-info-box .image-subtitle {
  margin-top: 2px;
  font-size: 0.9em;
}

.wiki-info-box .info-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.wiki-info-box .info-line {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 0.85em;
  width: 100%;
}

.wiki-info-box .info-title {
  font-weight: bold;
  width: 33%;
}

.wiki-info-box .info-line + .info-line {
  margin-top: 10px;
}
