.page-content {
  flex: 1 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.page-content > div {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10vw;
}

.page-text {
  border-right: 2px solid var(--accent);
  height: 50vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-title {
  font-family: alagard;
  font-size: 2em;
  width: 150%;
  flex: 0 1;
  border-bottom: 1px solid var(--white);
}

.page-subtitle {
  width: 150%;
  opacity: 0.5;
  font-size: 0.8em;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-paragraph {
  flex: 1 0;
  width: 150%;
  padding: 10px 20px;
}

.page-img {
  width: 100%;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 0 0 0 var(--accent), 0 0 0 0 var(--accent-dark);
  transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.page-img:hover {
  background-color: var(--secondary-dark);
  transform: rotate(5deg) scale(1.1) !important;
  box-shadow: 0 0 0 20px var(--accent), 0 0 0 45px var(--accent-dark);
}
