.links-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0;
}

.links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 35vw;
  padding: 20px 50px;
  background-color: #000a;
  border-radius: 10px;
}

.link {
  font-size: 1.5em;
  font-family: valorant;
  line-height: 3ch;
  padding: 10px;
  flex: 0 0 40%;
  text-align: center;

  color: var(--color);
  filter: drop-shadow(0 0 5px var(--glow));
}

.twitter-link {
  --color: #1DA1F2;
  --glow: #1DA1F2;
}

.discord-link {
  --color: #5865F2;
  --glow: #5865F2;
}

.telegram-link {
  --color: #2AABEE;
  --glow: #2AABEE;
}

.github-link {
  --color: #151013;
  --glow: var(--white);
} 

.twitch-link {
  --color: #9146FF;
  --glow: #9146FF;
}

.youtube-link {
  --color: #FF0000;
  --glow: #FF0000;
}

.link:hover {
  filter: drop-shadow(0 0 5px var(--accent));
}
