.icon {
  min-width: 27px;
  min-height: 27px;
  image-rendering: pixelated;
  flex: 1 0;
}

.slider {
  width: 100%;
}

.hardcore-checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.hotbar-container {
  margin-top: 15px;
  padding: 20px;
  width: 40vw;
  background-color: #0F0;
  border-radius: 10px;
}

.hotbar-container > .bars {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hotbar-container .bar {
  margin-top: 0.5%;
  flex: 0 0 45%;
  overflow: hidden;
}

.hotbar, .xp {
  width: 100%;
  image-rendering: pixelated;
}

.greenscreen {
  background-color: #0F0;
  padding: 15px;
  border-radius: 5px;
}

.bar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.hunger-bar, .air-bar {
  flex-direction: row-reverse;
}

.hunger-slider, .air-slider {
  direction: rtl;
}
