/* ========== Root ========== */
:root {
  --black: #000000;
  --grey: #1F2022;
  --white: #D0D0D0;

  --accent-dark: #9A1515;
  --accent: #FF2829;

  --secondary-dark: #1A5D3C;
  --secondary: #4EAC6D;
}

/* ========== Fonts ========== */
@font-face {
  font-family: aesthetic;
  src: url('./Assets/Fonts/Aesthetic\ DEMO.ttf');
}

@font-face {
  font-family: alagard;
  src: url('./Assets/Fonts/alagard.ttf');
}

@font-face {
  font-family: bleeding;
  src: url('./Assets/Fonts/Bleeding_Cowboys.ttf');
}

@font-face {
  font-family: drifter;
  src: url('./Assets/Fonts/drifter.ttf');
}

@font-face {
  font-family: minecraft;
  src: url('./Assets/Fonts/Mojang-Regular.ttf');
}

@font-face {
  font-family: monsterrat;
  src: url('./Assets/Fonts/Montserrat.ttf');
}

@font-face {
  font-family: valorant;
  src: url('./Assets/Fonts/Valorant.ttf');
}

/* ========== Generic Styles ========== */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--accent-dark);
  transition: 0.25s ease-out;
}

a:hover {
  color: var(--accent);
}

.symbol {
  font-family: 'Material Symbols Outlined' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.hidden {
  display: none !important;
}

/* ========== Styles ========== */
body {
  margin: 0;
  font-family: monsterrat, sans-serif;
  font-weight: 500;
  font-size: 20px;

  width: 100vw;
  height: 100vh;

  background-color: var(--grey);
  color: var(--white);
} 

#root {
  width: 100vw;
  height: 100vh;
}
