.wiki-page {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  overflow-y: scroll;
}

.wiki-subpage {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.main-logo {
  width: 250px;
}

.logo-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2em;
  height: 150px;
  font-family: 'Times New Roman', Times, serif;
}

.logo-title {
  font-size: 3em;
  margin-bottom: 0.25em;
}

.selection-container {
  width: 350px;
  margin-top: 150px;
  margin-bottom: 200px;
  display: flex;
  border: 2px solid steelblue;
  cursor: pointer;
  border-radius: 3px;
}

.selection-box {
  flex: 1 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px;
  position: relative;
}

.selection-options {
  position: absolute;
  top: 40px;
  width: 100%;
  border: 2px solid steelblue;
  border-radius: 3px;
}

.selection-option {
  padding: 5px;
  width: 100%;
}

.selection-option:hover {
  background-color: steelblue;
  color: white;
}

.selection-text {
  padding: 0px 5px;
  width: 100%;
}

.search-button {
  background-color: steelblue;
  color: white;
  height: 40px;
  flex: 0 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
